.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat__header {
  color: black;
  font-size: 20px;
  background-color: rgb(221, 214, 214);
  padding: 12px;
  border-radius: 5px;
  margin: 10px;
}

.chat__body {
  padding-top: 15px;
  flex: 1;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari, and Opera */

.chat__body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */

.chat__body {
  -ms-overflow-style: none; /*EI and Edge */
  scrollbar-width: none; /*Firefox */
}

.chat__message {
  background-color: rgb(132, 218, 230);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.message__caption input {
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
}
