.home {
  height: 100vh;
}

.home__main {
  display: flex;
}

.home__sidebar {
  flex: 0.3;
  /* height: 100vh; */
  border-right: 0.2px solid white;
}

.home__chat {
  flex: 0.7;
  background-color: gray;
  color: white;
  /* height: 100vh; */
}
