.message {
  display: flex;
  flex-direction: column;
}

.message__info {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.message__avatar {
  margin-right: 15px;
  margin-left: 10px;
}

.message__user {
  display: flex;
  align-items: center;
  /* padding-bottom: 3px; */
}

.message__user p {
  padding-right: 10px;
  font-size: larger;
  font-weight: 600;
}

.message__user small {
  font-size: small;
  font-style: italic;
  color: rgb(235, 230, 230);
  font-weight: 600;
}

/* .message__body:hover {
  color: black;
} */

.message__chat p {
  margin-top: 5px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}

.message__img {
  height: 400px;
  width: 400px;
  background-size: contain;
  margin-left: 40px;
}
