.message {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.message:hover {
  background-color: white;
  color: black;
}

.message__avatar {
  margin-right: 15px;
  margin-left: 10px;
}

.message__user {
  display: flex;
  align-items: center;
}

.message__user p {
  padding-right: 10px;
  font-size: larger;
  font-weight: 600;
}

.message__user small {
  font-size: x-small;
  color: black;
  font-weight: 600;
}

.message__chat p {
}
