.sidebar {
  background-color: rgb(94, 91, 150);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar__header {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(185, 247, 247);
}

.sidebar__header .MuiSvgIcon-root {
  color: rgb(185, 247, 247);
}

.sidebar__header h1:hover {
  color: rgb(255, 255, 255);
}

.sidebar__channels {
  flex: 1;
  padding-top: 10px;
}

.channel {
  cursor: pointer;
  color: white;
  font-weight: 500;
  display: flex;
  font-size: 20px;
  padding: 5px;
}

.channel p {
  padding-left: 5px;
}
.channel:hover {
  background-color: white;
  color: black;
}

.sidebar__user {
  display: flex;
  height: 70px;
}

.sidebar__userInfo {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  border-top: 1px solid white;
}

.sidebar__userInfo h4 {
  color: rgb(185, 247, 247);
  padding-left: 5px;
}

.sidebar__userInfo h4:hover {
  color: white;
}

/* @media screen (max-width: 780) {
  .sidebar__header {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 12px;
  }
} */
